#game1 {
    display: none
}

#game2 {
    display: none
}

#game3 {
    display: none
}

#game4 {
    display: none
}

#game5 {
    display: none
}

#game6 {
    display: none
}

#game7 {
    display: none
}

#game8 {
    display: none
}

#game9 {
    display: none
}

#game10 {
    display: none
}

#game11 {
    display: none
}

#game12 {
    display: none
}